.side-contents
  .side-header
    .user-status
      .user-name お名前
      .user-system-btns
        .group-new-btn
          = link_to "#" do
            = icon('far', 'edit')
        .user-edit-btn
          = link_to "#" do
            = icon('fas', 'cog')
  .side-groups
    .side-group-list
      .side-group-name グループ名
      .side-new-message 最新のメッセージ